
@font-face{
    font-family: "Mifuente";
    src: url(fuentes/Saiyan-Sans.ttf);
}
header h1{
    font-family: "Mifuente", sans-serif  ;
    font-size: 50px;
    color: black;
    background-color: beige;
    
}
body {
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(255, 25, 25);
}
  
.galeria {
    max-width: 900px;
    margin: 0 auto;
    background-color: rgba(255, 217, 0, 0.767);
}
  
.item {
    height: 190px;
    display: inline-block;
    width: 150px;
    margin: 10px;
    vertical-align: top;
    background: #00000050;
    padding: 10px;
    border-radius: 10px;
}
  
.item img {
    width: 100px;
    height: 150px;
    object-fit: contain;
}
  
.item p {
    margin-top: 8px;
    font-weight: bold;
}
  